*{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	box-sizing: border-box;
}

#header-nav {
  background-color: #999999;
  border: 0px;
  border-radius: 0px;
  width: 100%;
  }

#header-nav .navbar-brand a{
  color: black;
  font-weight: bold;
}

.menu-header{
	font-weight: bold;
	width: 100%;
}

#chicken,
#beef,
#sushi{
	font-weight: bold;
	font-size: 1.5em;
	padding: 0px;
	margin: 0px;
	width: 100%;
}


#header-nav .navbar-toggle:hover span.icon-bar, #header-nav .navbar-toggle:focus span.icon-bar {
  background: #999999;
 }

.navbar-header button.navbar-toggle, .icon-bar{
border: 2px solid black;
}

#header-nav span.icon-bar{
  background: #999999;
  border: 2px solid black;
}

#nav-list{
  background-color: #C0C0C0;
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-list hr{
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid black;
}

.menu-header{
  margin-bottom: 30px;
  margin-top: 0px;
}

.item1,
.item2,
.item3{
  padding: 20px;
  background: #999999;
  color: black;
  margin-bottom: 20px;
   }

 .description{
  color: black;
  background-color: #999999;
  padding: 0px;
}

